* {
    padding: 0;
    margin: 0;
    background-color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html {
    scroll-behavior: smooth;
    /* scroll-snap-type: both mandatory; */
}

header {
    position: fixed;
    height: 10vh;
    width: 100vw;
    color: rgb(84, 84, 187);
    text-align: center;
    font-size: 2.5rem;
    font-weight: 600;
    text-shadow: 4px 4px 8px rgb(103, 138, 150);
}

.main {
    display: flex;
    width: 100%;
    height: 90vh;
}

.course-title {
    width: 15vw;
    height: 80vh;
    margin: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
    font-size: 3em;
    font-family: fantasy;
    color: rgba(221, 46, 46, 0.781);
    font-weight: 600;
    box-shadow: 2px 0 10px 0.2px lightblue;
    text-shadow: 4px 4px 4px #aaa;
}

.parent-slider {
    width: 85vw;
    height: 90vh;
    margin: 0.5rem;
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: x mandatory;

}

.chapter {
    display: flex;
    min-width: 100%;
    height: 85vh;
    margin: 0.2rem;
    overflow: hidden;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
}

.paragraph {
    color: rgb(109, 107, 107);
    text-align: start;
    min-width: 95%;
    font-size: 1.2em;
    margin: 1rem;
    padding: 1rem;
    box-shadow: 0px 0px 10px lightblue;
    border-radius: 10px;
}

h1,
h2 {
    margin: 1rem;
    color: lightgreen;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: black;
    text-align: center;
}